<!doctype html>
<html class="no-js  not-loaded">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        <!--
        Copyright (c) Zicht online 2015 All rights reserved
        Developed by : Zicht online
        Contact      : info@zicht.nl
        -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}{% endblock %}
        {% block meta %}{% endblock %}

        {#
            TODO add a favicon, preferably from http://realfavicongenerator.net/.
            Please place the favicon code in an inheriting template inside your project bundle,
            to keep this base template clean and re-usable if your project has multiple bundles.
         #}

        <script>
            'use strict';
            var html = document.getElementsByTagName('html')[0];
            html.className = html.className.replace('no-js', '');
        </script>

        {% block javascripts_top %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}

        {% block bottom_data %}{% endblock %}
    </body>
</html>