<!doctype html>
<html class="no-js  not-loaded  {% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title '' %}</title>

        <!--
        Copyright (c) Zicht online {{ 'now'|date('Y') }} All rights reserved
        Developed by : Zicht online
        Contact      : info@zicht.nl
        -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            'use strict';
            var html = document.getElementsByTagName('html')[0];
            html.className = html.className.replace('no-js', '');
        </script>

        {% block head '' %}
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block body '' %}
    </body>
</html>