<!doctype html>
<html class="s-no-javascript  not-loaded  {% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{%- if app.environment != 'production' %}{{ assets_version() }} - {% endif %}{% block head_title '' %}</title>

        {% block head_copyright %}
            <!--
            Copyright (c) Zicht Online {{ 'now'|date('Y') }} All rights reserved
            Developed by: Zicht online
            Contact: info@zicht.nl
            Version: {{ assets_version() }}
            -->
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head '' %}

        <script>
            'use strict';
            var html = document.getElementsByTagName('html')[0];
            html.className = html.className.replace('s-no-javascript', 's-javascript');
        </script>
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block body '' %}
    </body>
</html>
