{% extends '@htmldev/_base.html.twig' %}
{% import '@htmldev/macros/components.html.twig' as ui %}


{% block title 'Styleguide' %}


{% block body %}
    <h2>Table of contents</h2>

    <ul>
        {% for template in templates %}
            <li>
                <a href="/htmldev/{{ template.getBasename('.twig') }}">{{ template.getBasename('.html.twig') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}