{% extends 'ZichtHtmldevBundle:styleguide:component.html.twig' %}
{% import 'ZichtHtmldevBundle:macros:styleguide.html.twig' as styleguide %}


{% block component_list %}
    <div>
        {{ styleguide.icons(icon_list()) }}
    </div>
{% endblock %}
