{# Try project's htmldev/index.html.twig first. Kept htmldev/_base.html.twig in for BC #}
{% extends ['@htmldev/index.html.twig', '@htmldev/_base.html.twig', 'ZichtHtmldevBundle:styleguide:index.html.twig'] %}
{% import 'ZichtHtmldevBundle::macros/components.html.twig' as ui %}


{% block head_title -%}
    Styleguide{% if name|default %} - {{ name|capitalize }}{% endif %}
{%- endblock %}


{% block body %}
    {% block styleguide_top %}
        {% include 'ZichtHtmldevBundle:styleguide:_top.html.twig' %}
    {% endblock %}

    <main class="c-content">
        {% block styleguide_aside %}
            {% include 'ZichtHtmldevBundle:styleguide:_side-bar.html.twig' %}
        {% endblock %}

        <div class="c-content__main">
            {% block component_intro %}
                <h2 class="c-copy--h2">{{ name|capitalize }}</h2>
            {% endblock %}
            {% block component_list %}
                {% for component in load_data(name) %}
                    {{ ui.styleguide_component(component.styleguide_type, component) }}
                {% endfor %}
            {% endblock %}
        </div>
    </main>
{% endblock %}
