<phpunit
        bootstrap="vendor/autoload.php"
        convertWarningsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        backupGlobals="false"
>
    <php>
        <const name="APPLICATION_ENV" value="testing"/>
    </php>
    <testsuites>
        <testsuite name="Tests for zicht/htmldev-bundle">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
