
.c-navigation__list {
    list-style-type: none;
}



.c-navigation__item {
    position: relative;

    @at-root {
        #{&}--current {

            &::after {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $pink--dark;
            }
        }
    }
}


.c-navigation__link {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    transition: color 100ms ease;
    color: $grey--charcoal;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }

    @at-root {
        #{&}--current {
            background-color: $white--smoke;
        }
    }
}
