
<header class="c-page-header">
    <h1 class="c-page-header__title"><a class="c-page-header__link" href="{{ path('zicht_htmldev_htmldev_index') }}">{{ styleguide.title }}</a></h1>

    {% if styleguide.brand|default %}
        <h2 class="c-page-header__subtitle">{{ styleguide.brand|raw }}</h2>
    {% endif %}
</header>
