{% extends '@ZichtHtmldev/_base.html.twig' %}


{% block body %}
    {% block styleguide_top %}
        {% include '@ZichtHtmldev/styleguide/_top.html.twig' %}
    {% endblock %}

    <main class="c-content">
        {% block styleguide_aside %}
            {% include '@ZichtHtmldev/styleguide/_side-bar.html.twig' %}
        {% endblock %}

        <div class="c-content__main">
            {% block component_intro '' %}
            {% block component_list '' %}
        </div>
    </main>
{% endblock %}
