
/* stylelint-disable color-no-hex */
$grey--charcoal: #444;
$grey--gainsboro: #dedede;
$white--smoke: #efefef;
$white--smoke-dark: #f0f0f0;
$white: #fff;
$white--75: rgba(#fff, 0.75);
/* stylelint-enable color-no-hex */
