
/* stylelint-disable color-no-hex */
$grey--charcoal: #444;
$grey--gainsboro: #dedede;
$pink--dark: #e94481;
$white--smoke: #efefef;
$white--smoke--dark: #f0f0f0;
$white--smoke--light: #f7f7f7;
$white: #fff;
$white--75: rgba(#fff, 0.75);
$black--50: rgba(#000, 0.50);
/* stylelint-enable color-no-hex */
