
.c-color-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;

    @include media-from(md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-from(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}



.c-color-list__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 120px;
    text-align: center;

    @include media-from(md) {
        min-width: 150px;
    }
}



.c-color-list__item__value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 3px;
    border-width: 1px;
    border-color: $white--smoke;
    border-style: solid;

    .c-color-list__item--light & {
        color: $grey--charcoal;
    }

    .c-color-list__item--dark & {
        color: $white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
}



.c-color-list__item__name {
    font-size: 0.75rem;
}
