{% extends ['@htmldev/pages/component.html.twig', '@ZichtHtmldev/styleguide/component.html.twig'] %}
{% import '@ZichtHtmldev/macros/styleguide.html.twig' as styleguide %}


{% block component_list %}
    <div>
        {{ styleguide.icons(icon_list()) }}
    </div>
{% endblock %}
